<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <appSettings>
    <add key="tests.src" value="D:\Work\Development\Frameworks\Code\Castle\Facilities\ActiveRecordIntegration\Castle.Facilities.ActiveRecordIntegration.Tests" />
  </appSettings>
  <castle>
    <facilities>
      <facility id="arfacility">
        <assemblies>
          <item>Castle.Facilities.ActiveRecordIntegration.Tests</item>
        </assemblies>
        <config>
          <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
          <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
          <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
          <add key="connection.connection_string" value="Server=(local);initial catalog=test;Integrated Security=SSPI" />
          <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
        </config>
      </facility>
    </facilities>
  </castle>
</configuration>